**/__pycache__/
**/.DS_Store
.idea
*.log

# dataset
dataset

# models configs and weights
segmentation/checkpoints/sam2.1_hiera_s.pt
segmentation/configs/sam2.1_hiera_s.yaml
pose_estimation/models/yolo11m-pose.pt

# models dirs
depth_estimation/Depth-Anything-V2/
pose_estimation/models/yolo-pose_onnx_model
pose_estimation/models/yolo-pose_openvino_model
interaction_analysis/action_recognizer/runs/
interaction_analysis/action_recognizer/saved_models/

# dataset
dataset/frames
dataset/videos
dataset/action_dataset
